@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai+Looped:wght@100..900&display=swap');
body {
    background-color: #000000;
    overflow: hidden;
    font-family: 'Noto Sans Thai Looped', sans-serif;
}

.loginContainer {
    position: relative;
}

.loginContainer {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;
}

.modLogo {
    width: 329px;
    height: 272;
    position: relative;
    top: 15%;
    right: -55%;
    margin: 0;
}

.modflixText {
        color: #FFFFFF;
        font-size: 128px;
        position: relative;
        top: -20%;       
}

.adminText {
    color: #FFFFFF;
    font-size: 40px;
    position: relative;
    font-weight: 400;
    top: -30%;
    padding: 10px;
}

.toLogin {
    font-family: 'Noto Sans Thai Looped';
    background-color: #FF6700;
    color: #FFFFFF;
    position: relative;
    width: 516px; 
    height: 116px;
    top: -30%;
    font-size: 48px;
    border: 5px solid #FF6700;
    border-radius: 25px;
    font-weight: 700;
    cursor: pointer;
}