@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai+Looped:wght@100..900&display=swap');
body {
    background-color: #000000;
    font-family: 'Noto Sans Thai Looped', sans-serif;
    overflow-x: hidden;
    min-height: 100vh;
}

.headerContainer {
    /* border: 1px solid #FFFFFF; */
    width: 100%;
    height: auto;
    position: relative;
    display: inline-flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    box-sizing: border-box; 
    padding-right: 60px;
    margin-top: 45px;
}

.navbarContainer {
    /* border: 1px solid #FFFFFF; */
    height: auto;
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.navbarText {
    color: #FFFFFF;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.navbarText h1 {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 30px;
    cursor: pointer;
    margin: 0;
    transition: font-size 0.2s ease;
}

.navbarText h1:hover{
    font-size: 32px;
    
}

.reportList {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    cursor: pointer;
}

.dropdown {
    position: absolute;
    display: none;
    left: 0%;
    min-width: 120px;
}

.reportList:hover .dropdown {
    display: flex;
    flex-direction: column;
}

.dropdown ul{
    font-size: 20px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    list-style: none;
    text-align: left;
    transition: font-size 0.2s ease;
}

.dropdown ul:hover {
    font-size: 22px;
    padding: 10px 10px;
    border: 2px solid #414141;
    border-radius: 15px;
}

.logo {
    /* border: 1px solid #FFFFFF; */
    margin-left: 140px;
    margin-right: 100px;
    width: 147.56px;
    height: 74px;
}

.navbarProfile {
    /* border: 1px solid #FFFFFF; */
    width: 260;
    height: 60px;
    margin-left: 100px;
    position: static;
    display: flex;
    align-items: center;
    gap: 20px;
}

.profilePic {
    width: 60px;
    height: 60px;
    border-radius: 50%; 
}

.username {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 24px;
}

.dashboardText {
    width: fit-content;
    height: fit-content;
    /* border: 5px solid #FFFFFF; */
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 45px;
    margin-left: 140px;
    color: #FFFFFF;
}

.reportContainer {
    width: calc(100% - 280px);
    width: 1440px;
    height: 712px;
    background-color: #FFD7B5;
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 0px;
    border-radius: 50px;
    margin-bottom: 72px; /* temp test */
}