.modflixLogo{
    display: inline-block;
    padding-top: 30px;
}

.modLogo {
    position: relative;
    margin: 0;
    bottom: 30px;
    left: 60%;
}

.modflixText {
    position: relative;
    color: #FFFFFF;
    font-size: 128px; 
    margin: 0;
    z-index: 1;
    top: -200px;
}