.modLogo {
    width: 329px;
    height: 272;
    position: relative;
    top: 15%;
    right: -55%;
    margin: 0;
}

.modflixText {
        color: #FFFFFF;
        font-size: 128px;
        position: relative;
        top: -20%;       
}